@import "colors";
@import "shadow";
@import "anime";
@import "util";

.player-banner {
  display: flex;
  align-items: center;
  position: relative;
  height: 0.8rem;
  border-radius: 0.08rem;
  background-color: $color-background--light;
  overflow: hidden;
  box-shadow: 0 0.05rem 0.4rem rgba(0, 0, 0, 0.1);

  &--owner::before {
    @include shadow-card;

    content: "";
    position: absolute;
    top: 30%;
    left: -50%;
    height: 0.16rem;
    width: 100%;
    transform: rotate(-45deg);
    background-color: $color-theme--light;
  }

  .player-avatar {
    margin-right: 0.16rem;
    width: 0.8rem;
    height: 0.8rem;
  }

  .player-name {
    margin-bottom: 0.12rem;
    font-size: 0.2rem;
    line-height: 0.2rem;
    height: 0.2rem;

    &--placeholder {
      width: 1.2rem;
      background-color: $color-background--normal;
    }
  }

  .player-detail {
    font-size: 0.12rem;
    line-height: 0.12rem;
    height: 0.12rem;
    color: $color-text--light;

    &--placeholder {
      width: 2rem;
      background-color: $color-background--normal;
    }
  }

  .op {
    @include basic-transition;
    @include flex-center-container;

    margin-right: 0.16rem;
    width: 0.36rem;
    height: 0.36rem;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: $color-theme--light;
    }

    .feather {
      width: 0.2rem;
      height: 0.2rem;
    }
  }
}
