.ui-rollingTable {
  width: 100%;
  height: 100%;

  .guideline {
    position: fixed;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    width: 200vw;
    height: 200vw;
    border: 1px solid lightgrey;
    border-radius: 50%;
  }

  .seat {
    position: fixed;
    top: 5vh;
    left: 0;
    right: 0;
    margin: auto;
    width: 5rem;
    opacity: 0.5;
    transform-origin: center 100vw;
    transition: 1000ms;
  }

  .guest {
    transition: 1000ms;
  }
}
