@import "colors";
@import "shadow";
@import "anime";
@import "util";

.page-play {
  @include flex-center-container;

  .title {
    margin-bottom: 0.32rem;
    font-size: 0.8rem;
  }

  .mode {
    @include shadow-card;
    @include basic-transition;

    width: 3.6rem;
    background-color: white;
    cursor: pointer;

    &:hover {
      // @include shadow-dp--1(rgba(0, 0, 0, 0.3));

      transform: translateY(-0.04rem);
      box-shadow: 0 0.05rem 0.4rem rgba(0, 0, 0, 0.1);
    }

    &-container {
      height: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0.8rem;
    }

    &-box {
      @include flex-center-container;
    }

    section {
      height: 2.4rem;
    }

    &-bg {
      @include basic-icon;
      @include test;
    }

    &-info {
      padding: 0.16rem;
    }

    &-title {
      font-size: 0.36rem;

      &--sub {
        font-size: 0.12rem;
        margin-bottom: 0.16rem;
      }
    }

    &-detail {
      font-size: 0.16rem;
    }
  }
}
