@import "colors";

.ui-input {
  position: relative;
  height: 0.32rem;
  width: 2rem;
  padding: 0 0.08rem;
  border-radius: 0.16rem;
  background-color: $color-background--light;
  box-shadow: 0 0.01rem 0.03rem 0 rgba(0, 0, 0, 0.3),
    0 0 0.01rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  align-items: center;

  input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 0.08rem 0 0.24rem;
    font-size: 0.16rem;
    line-height: 0.32rem;
    color: $color-text--dark;
  }

  .feather {
    width: 0.16rem;
    height: 0.16rem;
    z-index: 1;

    &-search {
    }
  }
}
