@import "colors";
@import "util";

.ui-avatar {
  @include basic-icon;

  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-color: $color-background--light;

  &--placeholder {
    background-color: $color-background--dark;
  }

  &--anonymous {
    background-image: url(./asset/anonymous.jpg);
  }

  &--round {
    border-radius: 50%;
  }

  &--mock-0 {
    background-image: url(./asset/hoshimiya_ichigo.png);
  }

  &--mock-1 {
    background-image: url(./asset/izumi_sagiri.jpg);
  }

  &--mock-2 {
    background-image: url(./asset/avatar3.jpg);
  }
}
