@import "colors";
@import "anime";

.ui-switch {
  cursor: pointer;
  display: flex;

  .switch-wrapper {
    position: relative;
    width: 0.34rem;
    height: 0.18rem;

    &--on {
      .track {
        background-color: $color-theme--normal;
      }

      .switch {
        left: 0.16rem;
      }
    }

    &--off {
      .track {
        background-color: $color-background--dark;
      }

      .switch {
        left: 0;
      }
    }
  }

  .track {
    position: absolute;
    left: 0.01rem;
    top: 0.01rem;
    width: 0.32rem;
    height: 0.16rem;
    border-radius: 0.08rem;
    box-shadow: 0 0.01rem 0.02rem 0 rgba(0, 0, 0, 0.45) inset;
  }

  .switch {
    // @include basic-transition;
    // transition: 300ms cubic-bezier(0.68, 0.25, 0.08, 0.83);
    transition: 300ms cubic-bezier(0.56, 0.19, 0.03, 0.92);

    position: absolute;
    width: 0.18rem;
    height: 0.18rem;
    border-radius: 50%;
    background-color: $color-background--light;
    box-shadow: 0 0.01rem 0.03rem 0 rgba(0, 0, 0, 0.3),
      0 0 0.01rem 0 rgba(0, 0, 0, 0.1);
  }

  .label {
    margin-left: 0.08rem;
    font-size: 0.16rem;
    line-height: 0.18rem;
  }
}
