@import "colors";
@import "shadow";

.page-room {
  padding: 0.16rem;
  display: grid;
  grid-auto-rows: 0.8rem min-content;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 0.48rem;
  grid-column-gap: 0.16rem;

  & > header {
    grid-column: 1 / 4;
    display: flex;
    align-items: center;

    & > h1 {
      font-size: 0.36rem;
    }
  }

  & > aside {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;

    .config-box {
      margin-bottom: 0.48rem;

      & > header {
        font-size: 0.16rem;
        font-weight: 500;
        line-height: 0.16rem;
        margin-bottom: 0.16rem;
        color: $color-text--light;
      }

      & > main {
        p {
          font-size: 0.24rem;
          line-height: 0.24rem;
        }

        span {
          font-size: 0.12rem;
          line-height: 0.12rem;
          color: $color-text--light;
        }
      }
    }

    .config-rule {
    }

    .config-condition {
    }

    .config-rounds {
    }
  }

  & > main {
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.16rem;
  }
}
